<header>
	<div class="container">
        <div class="row">
        	<div class="col-sm-3 col-md-4"></div>
        	<div class="col-xs-8 col-sm-9 col-md-8">
				<p>La mejor aplicación web para gente runner donde encontrarás las mejores rutas para salir a correr.</p>
				<a class="btn btn-default btn-header-info" href="#" role="button">Más información</a>
			</div>
		</div>
	</div>

</header>

<footer class="container-fluid">
	<div class="row div-footer">
		Copyright © Keep Running 2015 - All right reserved. Design & Developed by: Manuel Ábalos Serrano.
	</div>
</footer>