<%= render "partials/register" %>
<%= render "partials/log_in" %>

<header>
	<div class="container">
        <div class="row">
        	
		</div>
	</div>
</header>

<footer class="container-fluid">
	<div class="row div-footer">
		Copyright © Keep Running 2015 - All right reserved. Design & Developed by: Manuel Ábalos Serrano.
	</div>
</footer>