<div class="container-fluid">
	<div class="row background-base">
		<%= render "partials/div_left" %>
		<div class="col-md-10 div-basic-right">
			<div class="row div-new">
				<img src="http://lorempixel.com/800/200" alt="..." class="img-thumbnail img-center">
				<h4 class="text-center title-header"><b>Titulo header - 1<b></h4>
				<p class="text-header">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada velit vitae mauris suscipit, ut dignissim felis eleifend. Sed tempor nisi velit, eget cursus nibh tempor et. Pellentesque fringilla imperdiet ex. Cras non ante feugiat, vulputate mi a, auctor neque. Fusce velit diam, hendrerit efficitur gravida ac, pretium sit amet mauris. Sed egestas, purus in lacinia sollicitudin.</p>
			</div>

			<div class="row">
				<div class="col-xs-6 col-md-3 div-new">
					<hr>
					<img src="http://lorempixel.com/200/125" alt="..." class="img-thumbnail img-center">
					<h4 class="text-center title-new"><b>Titulo header - X<b></h4>
					<p class="text-new">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada velit vitae mauris suscipit, ut dignissim felis eleifend. Sed tempor nisi velit, eget cursus nibh tempor et. Pellentesque fringilla imperdiet.</p>
					<hr>
				</div>
				<div class="col-xs-6 col-md-3 div-new">
					<hr>
					<img src="http://lorempixel.com/200/125" alt="..." class="img-thumbnail img-center">
					<h4 class="text-center title-new"><b>Titulo header - X<b></h4>
					<p class="text-new">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada velit vitae mauris suscipit, ut dignissim felis eleifend. Sed tempor nisi velit, eget cursus nibh tempor et. Pellentesque fringilla imperdiet.</p>
					<hr>
				</div>
				<div class="col-xs-6 col-md-3 div-new">
					<hr>
					<img src="http://lorempixel.com/200/125" alt="..." class="img-thumbnail img-center">
					<h4 class="text-center title-new"><b>Titulo header - X<b></h4>
					<p class="text-new">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada velit vitae mauris suscipit, ut dignissim felis eleifend. Sed tempor nisi velit, eget cursus nibh tempor et. Pellentesque fringilla imperdiet.</p>
					<hr>
				</div>
				<div class="col-xs-6 col-md-3 div-new">
					<hr>
					<img src="http://lorempixel.com/200/125" alt="..." class="img-thumbnail img-center">
					<h4 class="text-center title-new"><b>Titulo header - X<b></h4>
					<p class="text-new">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada velit vitae mauris suscipit, ut dignissim felis eleifend. Sed tempor nisi velit, eget cursus nibh tempor et. Pellentesque fringilla imperdiet.</p>
					<hr>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-6 col-md-3 div-new">
					<hr>
					<img src="http://lorempixel.com/200/125" alt="..." class="img-thumbnail img-center">
					<h4 class="text-center title-new"><b>Titulo header - X<b></h4>
					<p class="text-new">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada velit vitae mauris suscipit, ut dignissim felis eleifend. Sed tempor nisi velit, eget cursus nibh tempor et. Pellentesque fringilla imperdiet.</p>
					<hr>
				</div>
				<div class="col-xs-6 col-md-3 div-new">
					<hr>
					<img src="http://lorempixel.com/200/125" alt="..." class="img-thumbnail img-center">
					<h4 class="text-center title-new"><b>Titulo header - X<b></h4>
					<p class="text-new">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada velit vitae mauris suscipit, ut dignissim felis eleifend. Sed tempor nisi velit, eget cursus nibh tempor et. Pellentesque fringilla imperdiet.</p>
					<hr>
				</div>
				<div class="col-xs-6 col-md-3 div-new">
					<hr>
					<img src="http://lorempixel.com/200/125" alt="..." class="img-thumbnail img-center">
					<h4 class="text-center title-new"><b>Titulo header - X<b></h4>
					<p class="text-new">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada velit vitae mauris suscipit, ut dignissim felis eleifend. Sed tempor nisi velit, eget cursus nibh tempor et. Pellentesque fringilla imperdiet.</p>
					<hr>
				</div>
				<div class="col-xs-6 col-md-3 div-new">
					<hr>
					<img src="http://lorempixel.com/200/125" alt="..." class="img-thumbnail img-center">
					<h4 class="text-center title-new"><b>Titulo header - X<b></h4>
					<p class="text-new">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada velit vitae mauris suscipit, ut dignissim felis eleifend. Sed tempor nisi velit, eget cursus nibh tempor et. Pellentesque fringilla imperdiet.</p>
					<hr>
				</div>
			</div>

			<div class="row">
				<nav>
				  <ul class="pager">
				    <li><a class="pager-li" href="#"><< Previous</a></li>
				    <li><a class="pager-li" href="#">Next >></a></li>
				  </ul>
				</nav>
			</div>
		</div>
	</div>
</div>