<div class="container-fluid routes index">
	<div class="row background-base">
		<%= render "partials/div_left" %>
		<div class="col-md-10 div-basic-right">
			<div class="row">
				<center><h1> Rutas </h1></center>
				<div class="col-md-2">

					<div class="row">
						<a href='#' id='geolocate' class='btn btn-default btn-mapbox-default'>Mi posición</a>
					</div>
					<div class="row" id="btn-mostrar-tabla">
						<a href='#' class='btn btn-default btn-mapbox-default btn-mostrar-tabla'>Mostrar en tabla</a>
					</div>
					<div class="row">
						<a href='#' class='btn btn-default btn-mapbox-default btn-mostrar-mapa'>Mostrar en mapa</a>
					</div>


					<div class="row">
						<p class="text-pordificultad">Filtrar por dificultad:</p>
					</div>
					
					<div class="row" data-no-turbolink>
						<a href='#' class='btn btn-default btn-mapbox-default btn-filtrar-dificultad' data-difficulty="Principiante">Principiante</a>
						<%# link_to "Principiante", filter_routes_path(Route, :difficulty => "Principiante"), class: "btn btn-default btn-mapbox-default" %>
					</div>
				
					<div class="row">
						<a href='#' class='btn btn-default btn-mapbox-default btn-filtrar-dificultad' data-difficulty="Intermedia">Intermedia</a>
						<%# link_to "Intermedia", filter_difficulty_path(Route, :difficulty => "Intermedia"), class: "btn btn-default btn-mapbox-default" %>
					</div>
					<div class="row">
						<a href='#' class='btn btn-default btn-mapbox-default btn-filtrar-dificultad' data-difficulty="Dificil">Dificil</a>
						<%# link_to "Todos", routes_path, class: "btn btn-default btn-mapbox-default" %>
					</div>	

					<div class="row">
						<%= link_to "Todos", routes_path, class: "btn btn-default btn-mapbox-default" %>
					</div>

					<div class="row">
						<p class="text-pordificultad">Filtrar por cercanía:</p>
					</div>
					<div class="row">
						<a href='#' class='btn btn-default btn-mapbox-default'>< 5 km</a>
					</div>
					<div class="row">
						<a href='#' class='btn btn-default btn-mapbox-default'>< 10 km</a>
					</div>
					<div class="row">
						<a href='#' class='btn btn-default btn-mapbox-default'>< 15 km</a>
					</div>
					<div class="row">
						<a href='#' class='btn btn-default btn-mapbox-default'>< 20 km</a>
					</div>	

				</div>
				<div class="col-md-10 rutas-index">
					<div id='map'></div>
				</div>
			</div>

		</div>
	</div>
</div>




