@import url(https://fonts.googleapis.com/css?family=Jura);

.navbar{
	border-radius: 0px;
	font-family: 'Jura', sans-serif;
	font-weight: bold;
	font-size: 18px;
	background-color: rgba(255,255,255,1)
}

.navbar-right li:hover{
	background-color: rgba(0,0,0,0.1)
}

.img-navbar-logo{
	margin-top: -7px;
}

header{
	background: url('/landing page/background.jpg') no-repeat center;
	background-size: cover;
	width: 100%;
	min-height: 640px;
	margin-top: -20px;
	text-align: center;
	font-family: 'Jura', sans-serif;
		
		p{
			font-size: 26px;
			font-weight: bold;
			margin-top: 10%;
		}

		.btn-header-info{
			font-size: 20px;
			border-radius: 0px;
		}
}

@media only screen and (max-width: 767px) {
  header{
    background-image: url('/landing page/background-responsive.jpg');
    background-size: cover;
    margin-top: -74px;
	width: 100%;
	text-align: center;	
	font-family: 'Jura', sans-serif;

		p{
			font-size: 20px;
			margin-top: 29%;
		}
  }
}

.div-footer{
	background-color: rgba(0,0,0,0.9);
	color: white;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
}

.modal-content{
	width: 365px;
	display: block; 
	margin: auto;
	border-radius: 0px;
	font-family: 'Jura', sans-serif;
	font-size: 18px;
	height: 530px;
}

.modal-title{
	font-weight: bold;
}

#new_user{
	div.field{
		margin-bottom: 10px;
	}

	label{
		text-align: center;
	}

	input{
		width: 335px;
		border-top: none;
		border-left: none;
		border-right: none;
	}	

	.btn-sign-up{
		border-radius: 0px;
		margin-top: 20px;
	}	
}


