@import url(https://fonts.googleapis.com/css?family=Jura);

.navbar{
	border-radius: 0px;
	font-family: 'Jura', sans-serif;
	font-weight: bold;
	font-size: 18px;
	background-color: rgba(255,255,255,1)
}

.navbar-right li:hover{
	background-color: rgba(0,0,0,0.1)
}

.img-navbar-logo{
	margin-top: -7px;
}

header{
	background: url('/landing page/background.jpg') no-repeat center;
	background-size: cover;
	width: 100%;
	min-height: 640px;
	margin-top: -20px;
	text-align: center;
	font-family: 'Jura', sans-serif;
		
		p{
			font-size: 26px;
			font-weight: bold;
			margin-top: 10%;
		}

		.btn-header-info{
			font-size: 20px;
			border-radius: 0px;
		}
}

.div-footer{
	background-color: rgba(0,0,0,0.9);
	color: white;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
}

.modal-content{
	width: 465px;
	display: block; 
	margin: auto;
	border-radius: 0px;
	font-family: 'Jura', sans-serif;
	font-size: 18px;

}
.modal-registrarse{
	height: 430px;
}

.modal-entrar{
	height: 400px;
}

.modal-title{
	font-weight: bold;
}

#new_user{
	div.field{
		margin-bottom: 10px;
	}

	label{
		text-align: center;
	}

	input{
		width: 435px;
		border-top: none;
		border-left: none;
		border-right: none;
	}	

	input#user_remember_me{
		width: 14px;
	}

	.btn-modal-sign-up, .btn-modal-log-in{
		border-radius: 0px;
		margin-top: 20px;
	}	

	.btn-modal-facebook, .btn-modal-google{
		border-radius: 0px;
		margin-top: 5px;
		width: 435px;
	}
}

.register-box{
	width: 465px;
	display: block; 
	margin: auto;
	border-radius: 0px;
	font-family: 'Jura', sans-serif;
	font-size: 18px;

	div.field{
		margin-bottom: 10px;
	}

	label{
		text-align: center;
	}

	input{
		width: 435px;
		border-top: none;
		border-left: none;
		border-right: none;
	}	

	input#user_remember_me{
		width: 14px;
	}

	.btn-modal-sign-up, .btn-modal-log-in{
		border-radius: 0px;
		margin-top: 20px;
	}	

	.btn-modal-facebook, .btn-modal-google{
		border-radius: 0px;
		margin-top: 5px;
		width: 435px;
	}
}

@media only screen and (max-width: 767px) {
	header{
	    background-image: url('/landing page/background-responsive.jpg');
	    background-position: left top;
	    margin-top: -74px;
		width: 100%;
		text-align: center;	
		font-family: 'Jura', sans-serif;

			p{
				font-size: 20px;
				margin-top: 29%;
			}
  	}

	.modal-content{
		width: 365px;
	}

	#new_user{
		input, .btn-modal-facebook, .btn-modal-google{
			width: 335px;
		}
	}
}
