// Place all the styles related to the routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map{ 
	position:absolute; 
   	width: 95%; 
   	height: 100%;
   	min-height: 500px;
}

.btn-mapbox-default{
	display: block;
	margin: auto;
	margin-bottom: 2px;
	border-radius: 0px;
	width: 150px;
}

.text-pordificultad{
	text-align: center;
	margin-top: 15px;
}

.leaflet-control-mapbox-geocoder-results a{
	width: 100%;
}

.leaflet-fullscreen-on{
	top: 0;

}

.fa-map-marker{
	display: block;
	padding-top: 1px;
	padding-right: 8px; 
}